/* .box{
    width: 120px;
    height: 120px;
    background: #502fc5;
    border: 2px solid #000;
    font-size: bold;
    color: #fff;
}



.relative{
    position: relative;
    top: 20px;
    left: 20px;
    background: #e921c8;
}

.container{
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px dashed #ffdc42;
    margin-top: 30px;
}

.absolute{
    position: absolute;
    top: 20px;
    left: 20px;
}

.fixed{
    position: fixed;
    background: #42ff8b;
}

.sticky{
    position: sticky;
    background: #e921c8;
    margin-top: 20px;
} */

.nav{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #eee;
    z-index: 10px;
}

.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    text-decoration: none;
    color: black;
    font-weight: 800;
}



.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover{
    color: #502fc5;
}


.hero{
    align-items: center;
    height: 400px;
    justify-items: center;
    padding-top: 50px;
}

.hero-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.hero-text{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

/* 프로젝트카드 */

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

}

.work-card img{
    height: 260px;
    width: 100%;
}

.work-body h3{
    font-size: 24px;
    margin: 16px 0 0 0;
}

.work-card:hover{
    transform: translateY(-4px);
    transition: 0.15s ease;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.links{
    display: flex;
    gap: 20px;

}

.links a{
    text-decoration: none;
    color: black;
}

.links a:hover{
    color: #502fc5;
}